### Set Comprehensions
* It is a single line statement which is used to create new set by processing existing sequence

#### Set comprehension syntax with one value and one for loop

        var_name = { value for loop }

In [1]:
# adding the numbers into set by using set comprehension approach
s = {i for i in range(1,11)}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# wapt add cubes of the numbers from 1 to 10 into set by using set comprehension
s = { i**3 for i in range(1,11)}
s

{1, 8, 27, 64, 125, 216, 343, 512, 729, 1000}

#### Set comprehension syntax with one value and one for loop and one if condition
    var_name = { value for loop if condition }

In [3]:
# from the given tuple add only odd numbers to the list
t = (11,78,34,99,23,67,90,70)
s = {i for i in t if i%2==1}
s

{11, 23, 67, 99}

#### Set comprehension syntax with one value and one for loop and multiple if condition
    var_name = { value for loop if condition1 and/or condition2  }

In [4]:
# from the given tuple add only odd numbers hich are greater than 50 into the set by using set comprehension
t = (11,78,34,99,23,67,90,70)
s = {i for i in t if i%2==1 and i>50}
s

{67, 99}

In [5]:
# wapt add all the odd numbers as well as even numbers which are greater than 100 which is present in the tuple into set
s = {i for i in t if i%2==1 or (i%2==0 and i> 100)}
print(s)
#  or
s = {i for i in t if i%2==1 or i>100}
s

{99, 67, 11, 23}

{11, 23, 67, 99}

#### Set comprehension syntax with if else and for loop
    var_name = { tv if condition else fv for loop  }

In [14]:
# Based on the numbers present in the given tuple, add 1 into the list if it is even else add 0 into the list
t = (11,78,34,99,23,67,90,70)
s = {1 if i%2==0 else 0 for i in t }
s

{0, 1}

#### syntax for set comprehension with one value, multiple for loops and if condition

    { value for loop1 for loop2... for loop_n if condition }

In [16]:
data = {(i,j,k) for i in range(1,10) for j in range(1,10) for k in range(1,10) if i==j==k}
print(data)

{(6, 6, 6), (5, 5, 5), (9, 9, 9), (2, 2, 2), (7, 7, 7), (3, 3, 3), (4, 4, 4), (8, 8, 8), (1, 1, 1)}

In [17]:
l = {(i)*3 for i in range(1,7)}
print(l)

{3, 6, 9, 12, 15, 18}