Joins
* Inner Joins

          Equi Joins
          Non-Equi Joins
          Self Joins
* Outer Joins
  
          Left Outer Joins
          Right Outer Joins
          Full Outer Joins
* Cross Joins

#### Inner Joins
Combines records from 2 tables whenever there are matching values in a field common to both tables (returns only those rows that satisfy the joining condition)

1. Equi Join: An Equi Join is a joining condition with equality operator 

2. Non-Equi Join: An Non-Equi Join is a joining condition with anything other than equality operator (say between and operator)

3. Slef Join: This is an Equi Join of a table with itself

After joining the data in ORM, the resulting table structure look like shown below:

        EmpNo   EName   Job   Sal   Mgr   Comm   HireDate    DeptNo           DeptNo     
                                                                      DName   Loc   DeptNo
        123      ABC    X     345   21     22    2000-09-09   15      JKL      XY    56
        124      BCA    X     344   21     18    2000-05-10   15      JKL      XY    56
        125      CAB    X     343   21     20    2000-07-05   15      JKL      XY    56

Syntax for accessing child table in FE:

                    object_name.column_name
Syntax for accessing parent table data in FE:

                    object_name.common_column.column_name